<template name="home">
  <div class="container">
    <div class="text-center">
      <h1>This is home landing page.</h1>
      <p>
        
      </p>
      <!-- <form method="POST" role="form">
    <legend>Edit Your Profile</legend>

    <div class="form-group">
        {{text_field 'Username'}}
    </div>

    <div class="form-group">
        {{text_field 'Name'}}
    </div>

    <div class="form-group">
        {{text_field 'Email'}}
    </div>

    <div class="form-group">
        {{text_area 'Teams'}}
    </div>

    {{submit_button 'Add'}}
</form> -->

    </div>
  </div>
</template>
